<h1 mat-dialog-title>Multiplication facts of number: {{data.selectedNumber}}</h1>
<div mat-dialog-content>
    <mat-list role="list">
        @for (idx of indexes; track idx) {
        <mat-list-item role="listitem">{{data.selectedNumber}} X {{idx}} = {{data.selectedNumber * idx}}</mat-list-item>
        }
    </mat-list>
</div>
<div mat-dialog-actions>
    <div class="dialog-action-container">
        <div style="padding-top: 5px">
            <button mat-button mat-dialog-close>Close</button>
        </div>
        <div>
            <span>Scroll ({{scrollSpeedLabel}})</span>
            <mat-slider #slider min="0" max="5" step="1" showTickMarks (change)="onScrollChange()">
                <input matSliderThumb [(ngModel)]="scrollSpeed">
            </mat-slider>
        </div>
    </div>
</div>