.test-form {
    display: flex;
    flex-direction: column;
    height: 155px;
}
.answer-button-container {
    width: 100%;
    text-align: center;
}
.answer-label-container {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    min-height: 25px;
}